.banner {
  background-size: cover;
  background-position: center;
  padding: 210px 0;
  height: 950px;
  border-bottom: sold 2px #fff;
  width: 100vw;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px #264653;
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 35px;
  color: white;

  text-shadow: 1px 1px 3px #264653;
}
