.navbar-lewagon {
  background: $brand-color;
  padding: 18px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.img {
  display: flex;
  justify-content: space-between;

}

.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  background-color: yellow !important;
  border: solid 2px #fff !important;
}

.nav-item .nav-link:hover {
  color: #1EDD88 !important;
}
