.navbar-lewagon {
  background: #264653;
  padding: 18px;
  width: 100%;
  border-bottom: solid #fff 2px;
  width: 100vw;
}

.navbar-toggler {
  border: solid 2px #fff !important;
}

.navbar-lewagon .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  font-size: 20px;
  color: #fff !important;
}

.navbar-toggler {
  background-color: #264653 !important;
}

.nav-item .nav-link:hover {
  color: #2a9d8f !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background: #264653;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding: 0px 50px;
  color: #fff;
  width: 100%;
  margin-top: 140px;
  bottom: 0;
  width: 100vw;
}

.footer-copyright {
  text-align: center;
  font-size: 18px;
  background: #264653;
  width: 100vw;
}

.footer-links {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #2a9d8f;
  opacity: 1;
}

.footer-bw-link {
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer-bw-link:hover {
  color: #2a9d8f;
  opacity: 1;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

body {
  background-color: #d6d6d4;
  width: 100vw;
}

.content-1 {
  margin-top: 90px;
  text-align: center;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  background-color: #264653;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 70px;
  width: 100vw;
}

.content-1-paragraph {
  color: #fff;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.content-2 {
  text-align: center;
  margin-bottom: 50px;
  width: 100vw;
}

.heading {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.content-1-img {
  width: 500px;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-box-shadow: 0px 2px 2px 2px #2a9d8f;
          box-shadow: 0px 2px 2px 2px #2a9d8f;
}

.content-2-img {
  margin-bottom: 40px;
  width: 500px;
  -webkit-box-shadow: 0px 5px 5px 5px #264653;
          box-shadow: 0px 5px 5px 5px #264653;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.content-2-paragraph {
  margin: 30px 40px 40px 40px;
}

@media all and (min-width: 600px) {
  .content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 50px;
  }
  .content-1-img {
    width: 700px;
    margin-right: 80px;
    height: 500px;
  }
  .content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .content-1-paragraph {
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
  }
  .content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-2-img {
    width: 550px;
    margin-right: 80px;
    border-radius: 10px 10px;
    margin-left: 80px;
    margin-top: 50px;
  }
  .content-2-paragraph {
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
  }
  .contact {
    margin-top: 50px;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 210px 0;
  height: 950px;
  border-bottom: sold 2px #fff;
  width: 100vw;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px #264653;
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 3px #264653;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #264653;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  border: solid 1px #fff;
  margin-right: 20px;
}

.btn-flat:hover {
  background: #2a9d8f;
  color: white;
  text-decoration: none;
}

.contact-card {
  text-align: center;
  font-size: 22px;
  background: #264653;
  color: #fff;
  padding: 25px;
  border-radius: 10px 10px;
  width: 500px;
  padding: 50px;
  margin-bottom: 50px;
  height: 700px;
  margin-top: 50px;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

input {
  height: 45px;
}

form .submit {
  background-color: #2a9d8f;
  color: #fff;
  font-size: 20px;
  height: 50px;
  margin-top: 50px;
  border: 2px solid #fff;
}

.submit:hover {
  background: #1bcb7f;
  border: #1bcb7f;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.heading-contact {
  margin-bottom: 55px;
}

.contact {
  background-color: #264653;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}
/*# sourceMappingURL=styles.css.map */